<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            width: 1100px;
            margin: 0 auto;
        }
        button {
            margin-top: 30px;
            width: 100px;
            height: 30px;
        }
    </style>
</head>
<body>
    <h1>소개 페이지</h1>
    <h3>로그인 성공</h3>
    <form action="/logout?_method=DELETE" method="POST">
        로그아웃 기능을 수행하는 버튼입니다.
        <button type="submit">로그아웃</button>
    </form>
    <form action="/board" method="POST">
        게시판으로 이동하는 버튼입니다.
        <button type="submit">게시판</button>
    </form>
    <form action="/gallery" method="POST">
        사진 갤러리로 이동하는 버튼입니다.
        <button type="submit">갤러리</button>
    </form>
</body>
</html>
